<form action="/tamagotchi" method="post">
  <label for="name">Enter a name</label>
  <input id="name" name="name" type="text">
  <select class="form-control" id="breed">
    <option value="worm">Ancestral Worm of the Moon</option>
    <option value="triton">Desert Triton</option>
    <option value="necro">Necroruler</option>
  </select>
  <button type="submit">Give it life!</button>
</form>